* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* position: relative; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* width: 100vw has to be set on the html in order to prevent the scroll bar
  from changing the width your page. I tried width: 100% and it does not work.
  I don't know what vw stands for so going to have to look that up */
  width: 100vw;
}

body {
  /* position: relative; */
  min-width: 100%;
  /* width: 1500px; */
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  animation: fadeIn 2000ms;
  min-width: 200px;
}

.banner {
  position: relative;
  margin-top: -76px;
}

.bannerimg {
  display: block;
  width: 100%;
  position: relative;
  z-index: -1;
}

.closeBanner {
  height: 0px;
}

h1 {
  /* position: absolute; */
  position: relative;
  /* margin: 10px 0px 0px 0px; */
  top: 10px;
  /* left: 0; */
  /* right: 0; */
  font-size: 60px;
  font-family: freehand;
  font-weight: 700;
  text-align: center;
  color: white;
  text-shadow: 2px 2px rgba(115, 155, 211, 0.541);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  background-color: rgba(100, 201, 255);
  font-family: freehand;
  font-weight: 500;
  /* this is a new line */
  
}

.menu {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 40px;
  color: white;
  /* white-space: pre-wrap; */
}

.selected {
  background-color: white;
  color: rgb(100, 200, 255);
  transition-property: background-color, color;
  transition-delay: 0ms, 0ms;
  transition-duration: 250ms, 500ms;
}

.deselected {
  background-color: inherit;
  color: white;
  transition-property: background-color, color;
  transition-delay: 0ms, 0ms;
  transition-duration: 250ms, 500ms;
}

.opening {
  flex-grow: 0;
  font-size: 0px;
  color: transparent;
  transition-property: flex-grow, color, font-size;
  transition-delay: 250ms, 0ms, 250ms;
  transition-duration: 500ms, 250ms, 500ms;
}

.closing {
  flex-grow: 1;
  font-size: 40px;
  color: white;
  transition-property: flex-grow, color, font-size;
  transition-delay: 250ms, 500ms, 0ms;
  transition-duration: 250ms, 250ms, 500ms;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  flex-grow: 0;
  font-size: 0px;
  /* white-space: pre-wrap; */
}

.paragraphOpened {
  flex-grow: 5;
  align-items: flex-start;
  display: inline-flex;
  text-align: center;
  background-color: white;
  padding: 0px 60px 0px;
  color: rgb(100, 200, 255);
  font-size: 20px;
  text-decoration: none;
  transition-property: flex-grow, color, font-size;
  transition-delay: 250ms, 750ms, 250ms;
  transition-duration: 500ms, 250ms, 500ms;
}

#buttonContainer {
  position: fixed;
  display: flex;
  opacity: 1;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  rotate: -90deg;
  left: 100%;
  bottom: 7px;
  transition-property: opacity;
  transition-duration: 500ms;
}

/* .arrow::before {
  position: absolute;
  content: "";
  background-color: blue;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  right: -2px;
  top: -6px;
  rotate: 45deg;
}

.arrow {
  position: sticky;
  background-color: black;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  top: 400px;
}

.arrow::after {
  position: absolute;
  content: "";
  background-color: red;
  width: 20px;
  height: 5px;
  border-radius: 5px;
  right: -2px;
  top: 6px;
  rotate: -45deg;
} */

.linkOpened {
  background-color: white;
  color: rgb(100, 200, 255);
  font-size: 40px;
  text-decoration: none;
  transition-property: flex-grow, color, font-size;
  transition-delay: 250ms, 750ms, 250ms;
  transition-duration: 500ms, 250ms, 500ms;
}

.linkClosed {
  font-size: 0px;
  color: transparent;
  transition-property: flex-grow, color, font-size;
  transition-delay: 250ms, 0ms, 250ms;
  transition-duration: 250ms, 250ms, 250ms;
}

.opened {
  flex-grow: 5;
  background-color: white;
  color: rgb(100, 200, 255);
  font-size: 40px;
  text-decoration: none;
  transition-property: flex-grow, color, font-size;
  transition-delay: 250ms, 750ms, 250ms;
  transition-duration: 500ms, 250ms, 500ms;
}

.closed {
  flex-grow: 0;
  font-size: 0px;
  color: transparent;
  transition-property: flex-grow, color, font-size;
  transition-delay: 250ms, 0ms, 250ms;
  transition-duration: 250ms, 250ms, 250ms;
}

.topBottom {
  animation-timing-function: ease-in-out;
}

.middle {
  animation-timing-function: linear;
}

.copyright {
  font-size: 20px;
}

.copyrightClosed {
  font-size: 0px;
}

@font-face {
  font-family: "freehand";
  src: url(fonts/Caveat-VariableFont_wght.ttf);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
