.cntr {
  position: fixed;
  display: flex;
  transform: translateY(65px) rotate(90deg);
  bottom: 5px;
  right: 5px;
  padding: 15px 0px;
  transition: transform 125ms 0ms ease-in-out;
}

.btn div {
  scale: .80;
  background-color: rgba(100, 201, 255);
  width: 30px;
  height: 5px;
  border-radius: 2.5px;
  transform: rotate(0deg);
  transition: transform 125ms 250ms ease-in-out;
  transform-origin: 2px;
}

.btn div:nth-child(1) {
  margin-bottom: -5px;
}

.btn div:nth-child(2) {
  width: 45px;
}

.btn div:nth-child(3) {
  margin-top: -5px;
}

.anim-start div:nth-child(1) {
  transform: rotate(-45deg);
}

.anim-start div:nth-child(3) {
  transform: rotate(45deg);
}

.anim-end div {
  transition: transform 125ms 200ms ease-in-out;
}

.anim-end div:nth-child(1) {
  transform: rotate(0deg);
}

.anim-end div:nth-child(3) {
  transform: rotate(0deg);
}
